nvidia-cuda-cupti-cu12==12.6.80
sentry-sdk==2.28.0
psutil==7.0.0
certifi==2025.4.26
starlette==0.46.2
Pygments==2.19.1
protobuf==6.31.0
antlr4-python3-runtime==4.9.3
omegaconf==2.3.0
gitdb==4.0.12
nvidia-cufile-cu12==1.11.1.6
mdurl==0.1.2
packaging==24.2
platformdirs==4.3.8
nvidia-cuda-runtime-cu12==12.6.77
smmap==5.0.2
matplotlib==3.10.0
yarl==1.20.0
lightning-utilities==0.14.3
scipy==1.15.3
attrs==25.3.0
nvidia-cudnn-cu12==9.5.1.17
invoke==2.2.0
async-timeout==5.0.1
uvicorn==0.34.2
nvidia-nccl-cu12==2.26.2
MarkupSafe==3.0.2
h11==0.16.0
pydantic==2.11.4
setproctitle==1.3.6
nvidia-cublas-cu12==12.6.4.1
python-dotenv==1.1.0
wheel==0.45.1
click==8.2.0
triton==3.3.0
tqdm==4.67.1
threadpoolctl==3.6.0
sympy==1.14.0
anyio==4.9.0
numpy==2.2.6
nvidia-nvtx-cu12==12.6.77
hydra-core==1.3.2
cycler==0.12.1
nvidia-cuda-nvrtc-cu12==12.6.77
PyYAML==6.0.2
nvidia-cusolver-cu12==11.7.1.2
markdown-it-py==3.0.0
multidict==6.4.3
kiwisolver==1.4.8
docker-pycreds==0.4.0
setuptools==78.1.1
filelock==3.18.0
typing-inspection==0.4.0
torchvision==0.22.0
pyparsing==3.2.3
typing_extensions==4.13.2
urllib3==2.4.0
six==1.17.0
sniffio==1.3.1
python-dateutil==2.9.0.post0
frozenlist==1.6.0
nvidia-cusparse-cu12==12.5.4.2
loguru==0.7.3
shellingham==1.5.4
fsspec==2025.3.2
networkx==3.4.2
nvidia-nvjitlink-cu12==12.6.85
typer==0.15.2
nvidia-cusparselt-cu12==0.6.3
pytorch-lightning==2.5.1.post0
scikit-learn==1.6.1
torch==2.7.0
propcache==0.3.1
Jinja2==3.1.6
aiohappyeyeballs==2.6.1
fastapi==0.115.12
mpmath==1.3.0
contourpy==1.3.2
pydantic_core==2.33.2
GitPython==3.1.44
nvidia-curand-cu12==10.3.7.77
pip==25.1
requests==2.32.3
rich==14.0.0
joblib==1.5.0
annotated-types==0.7.0
idna==3.10
nvidia-cufft-cu12==11.3.0.4
torchmetrics==1.7.1
charset-normalizer==3.4.2
pillow==11.2.1
aiosignal==1.3.2
wandb==0.19.11
lightning==2.5.1.post0
exceptiongroup==1.3.0
fonttools==4.58.0
aiohttp==3.11.18
